<header>To Do List</header>
<div class="container">
  <div class="menu">
    <button>Anotações</button>
    <button>Contas</button>
    <button>Eventos</button>
    <button>Prioridades</button>
    <button>Pets</button>
  </div>
  <div class="page-main">
    <div>
      <h1>Menu Principal</h1>
    </div>
    <div class="anotation">
      <label for="daily-anotation">Anotações Diarias</label>
      <input type="text" id="daily-anotation" placeholder="Anotações Diarias" />
    </div>
    <div class="action">
      <button>Salvar</button>
      <button>Deletar</button>
    </div>
  </div>
</div>
